{% extends '_homeTemplate.html.twig' %}

{% block title %}Vinils{% endblock %}
{% block main %}
    <div class="container-fluid pb-4 d-flex col-12">
        <div class="col-2 d-flex justify-content-start align-items-start mt-4 flex-column">
            <div class="mb-3">
                <h4>Buscador</h4>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-success" type="submit">Search</button>
                </form>
            </div>
            <div>
                <h4>Filtre per Artistes</h4>
                <!--Filtre per artistes-->
                <li class="nav-item-dropdown list-unstyled">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Artistes
                    </a>
                    <ul class="dropdown-menu">
                        {% for artista in artistas %}
                            <li>
                                <a class="dropdown-item" href="{{ path('vinil_by_artist', {'name': artista.name}) }}">{{ artista.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </div>
        </div>
        <div class="col-8 d-flex flex-row mt-4 justify-content-center" style="gap: 20px; flex-wrap: wrap; border: 1px solid black; border-radius: 10px; background: #AAAAAA">
            {% for vinilo in vinilos %}
                <div class="card mt-4 mb-4" style="width: 18rem;">
                    <img src="{{ asset( 'assets/covers/' ~ vinilo.cover ) }}" class="card-img-top" alt="Portada Vinil">
                    <div class="card-body">
                        <h5 class="card-title">{{ vinilo.name }}</h5>
                        <p>Valoració {{ vinilo.rating }}</p>
                        <p class="card-text">{{ vinilo.description }}</p>
                        <a href="{{ path('concrete_vinil', {'id': vinilo.id}) }}" class="btn btn-primary">Més informació</a>
                    </div>
                </div>
            {% endfor %}
            {# total items count #}
            <div class="count">
                {{ pagination.getTotalItemCount }}
            </div>
            <table>
                <tr>
                    {# sorting of properties based on query components #}
                    <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
                    <th{% if pagination.isSorted('a.Title') %} class="sorted"{% endif %}>
                        {{ knp_pagination_sortable(pagination, 'Title', 'a.title') }}
                    </th>
                    <th{% if pagination.isSorted(['a.date', 'a.time']) %} class="sorted"{% endif %}>
                        {{ knp_pagination_sortable(pagination, 'Release', ['a.date', 'a.time']) }}
                    </th>
                </tr>

                {# table body #}
                {% for article in pagination %}
                    <tr {% if loop.index is odd %}class="color"{% endif %}>
                        <td>{{ article.id }}</td>
                    </tr>
                {% endfor %}
            </table>
            {# display navigation #}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
        <div class="col-2"></div>
    </div>
{% endblock %}