{% extends 'default.html.twig' %}
{% block main %}
    <div class="container-fluid">
        <div class="row">
            <!--Part esquerre, imatge de perfil de l'usuari-->
            <div class="col-10 col-md-5 my-3 mx-auto" id="imatge_perfil">
                <h4 class="text-center pt-3">Imatge de perfil</h4>
                {% if app.user.profile %}
                    <img src="{{ asset('assets/profiles/' ~ app.user.profile) }}"
                         class="img-fluid mx-auto d-block py-3 rounded-circle" alt="Imatge de Perfil">
                {% else %}
                    <img src="{{ asset('assets/profiles/defaultProfile.png') }}"
                         class="img-fluid mx-auto d-block py-3 rounded-circle" alt="Imatge de Perfil">
                {% endif %}
            </div>
            <!--Part dreta, informació del perfil de l'usuari-->
            <div class="col-10 col-md-6 py-3 my-3 mx-auto" id="segon_bloc">
                <div class="col-10 col-md-11 mx-auto my-2 py-3 px-3 info">
                    <h4>Informació Personal</h4>
                    <div class="px-3 bloc_info">
                        <label class="col-sm-2 col-form-label text-primary">Nom</label>
                        <p>{{ app.user.name }}</p>
                        <label class="col-sm-2 col-form-label text-primary">Nom d'usuari</label>
                        <p>{{ app.user.username }}</p>
                        <label class="col-sm-2 col-form-label text-primary">Email</label>
                        <p>{{ app.user.email }}</p>
                        <button type="button" class="btn btn-success"><a style="text-decoration: none; color:white;" href="{{ path('app_edit_usuario_edit', {'id': app.user.id}) }}">Actualitzar informació</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}