{% extends 'backoffice.html.twig' %}
{% block title %}Backoffice - Gestió de Vinils{% endblock %}
{% block main %}
    <div class="container-fluid pb-4 d-flex col-12">
        <div class="col-2 d-flex justify-content-start align-items-start mt-4 flex-column">
            <div class="mb-3">
                <h4>Buscador</h4>
                <form class="d-flex flex-wrap" role="search" method="get">
                    <input class="form-control me-2 mb-2" type="search" name="busqueda" placeholder="Search" aria-label="Search">
                    <button class="btn btn-success" type="submit">
                        Search
                    </button>
                </form>
            </div>
            <div>
                <h4>Filtre per Artistes</h4>
                <!--Filtre per artistes-->
                <ul>
                    <li class="nav-item-dropdown list-unstyled">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Artistes
                        </a>
                        <ul class="dropdown-menu">
                            {% for artista in artistas %}
                                <li>
                                    <a class="dropdown-item" href="{{ path('gestioVinils', {'artista': artista.name}) }}">{{ artista.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
            <div>
                <a href="{{ path('gestioVinils') }}">Netejar filtres</a>
            </div>
        </div>
        <div class="col-8 d-flex flex-column align-content-center justify-content-center" style="gap: 20px; flex-wrap: wrap; border: 1px solid black; border-radius: 10px; background: lightblue">
            {% if vinilos is empty %}
            <div class="d-flex justify-content-center">
                <h3>No s'han trobat resultats</h3>
            </div>
            {% else %}
            <div class="d-flex justify-content-center mt-4">
                <h3>
                    {{ message }}
                </h3>
            </div>
            {% endif %}
            <div class="col-8 mb-2">
                <h2>Llistat de Vinils</h2>
                <table class="table table-bordered text-center" style="border-color: black; background: white">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Artista</th>
                        <th scope="col">Preu</th>
                        <th scope="col">Valoració</th>
                        <th scope="col">Data Creació</th>
                        <th scope="col">Accions</th>
                    </tr>
                    {% for vinilo in vinilos %}
                        <tr>
                            <td>{{ vinilo.id }}</td>
                            <td>{{ vinilo.name }}</td>
                            <td>{{ vinilo.price }}</td>
                            <td>{{ vinilo.rating }}</td>
                            <td>{{ vinilo.createdAt|date('Y-m-d') }}</td>
                            <td>
                                <div class="d-grid gap-2 mb-2">
                                    <button type="button" class="btn btn-primary">
                                        <a style="text-decoration: none; color: white;" href="{{ path('editVinil', {'id': vinilo.id}) }}">Editar</a>
                                    </button>
                                </div>
                                <div class="d-grid gap-2">
                                    <button type="button" class="btn btn-danger">
                                        <a style="text-decoration: none; color: white;" href="{{ path('deleteVinil', {'id': vinilo.id}) }}">Eliminar</a>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <div class="d-flex justify-content-center">
                    {% include '_paginator.html.twig' %}
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
{% endblock %}