{% extends 'backoffice.html.twig' %}
{% block title %}Backoffice - Gestió d'usuaris{% endblock %}
{% block main %}
    <div class="container-fluid pb-4 d-flex col-12">
        <div class="col-2 d-flex justify-content-start align-items-start mt-4 flex-column">
            <h4>Filtre per Rol</h4>
            <li class="nav-item-dropdown list-unstyled">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Rol
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" href="{{ path('gestioUsuaris') }}">Tots els usuaris</a>
                    </li>
                    {% for role in roles %}
                        <li>
                            <a class="dropdown-item" href="{{ path('gestioUsuaris', {'role': role}) }}">{{ role }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        </div>
            <div class="col-8 d-flex flex-row mt-4 justify-content-center" style="gap: 20px; flex-wrap: wrap; border: 1px solid black; border-radius: 10px; background: lightblue">
                <div class="col-8 mb-2">
                    <div class="d-flex justify-content-center mt-4">
                        <h3>
                            {{ message }}
                        </h3>
                    </div>
                    <h2>Llistat d'usuaris</h2>
                    <table class="table table-bordered text-center" style="border-color: black; background: white">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Usuari</th>
                            <th scope="col">Correu</th>
                            <th scope="col">Data Creació</th>
                            <th scope="col">Rol</th>
                            <th scope="col">Accions</th>
                        </tr>
                        {% for usuario in usuaris %}
                            <tr>
                                <td>{{ usuario.id }}</td>
                                <td>{{ usuario.name }}</td>
                                <td>{{ usuario.username }}</td>
                                <td>{{ usuario.email }}</td>
                                <td>{{ usuario.createdAt|date('Y-m-d') }}</td>
                                <td>{{ usuario.role }}</td>
                                <td>
                                    <div class="d-grip gap-2">
                                        <button type="button" class="btn btn-primary">
                                            <a style="text-decoration: none; color: white;" href="{{ path('editUser', {'id': usuario.id}) }}">Editar</a>
                                        </button>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-grid gap-2">
                                        <button type="button" class="btn btn-danger">
                                            <a style="text-decoration: none; color: white;" href="{{ path('deleteUser', {'user': usuario.id}) }}">Eliminar</a>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    <div class="d-flex justify-content-center">
                        {% include '_userPaginator.html.twig' %}
                    </div>
                </div>
            </div>
        <div class="col-2"></div>
    </div>
{% endblock %}