{% extends 'backoffice.html.twig' %}
{% block title %}Backoffice - Registrar Usuario{% endblock %}
{% block main %}
    <div class="container-fluid pb-4 d-flex col-12">
        <div class="col-2"></div>
        <div class="col-8 d-flex flex-row mt-4 justify-content-center" style="gap: 20px; flex-wrap: wrap; border: 1px solid black; border-radius: 10px; background: lightblue">
            <div class="col-8 mt-4 mb-2">
                <h3 class="text-center">Registra un nou usuari</h3>
                {{ form_start(form, { 'attr': { 'novalidate': 'novalidate' }}) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.username) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.plainPassword) }}
                    {{ form_row(form.role) }}
                    <div class="text-center">
                        <input type="submit" class="btn btn-outline-primary" value="Registrar" />
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
        <div class="col-2"></div>
    </div>
{% endblock %}