{% block header %}
<div class="container-fluid menu">
    <div class="row">
        <nav style="--bs-bg-opacity: .5;" class="navbar navbar-expand-lg bg-secondary bg-gradient">
            <div class="container-fluid">
                <a class="ms-3 nav-link disabled" href="#">
                    <img src="{{ asset('assets/logo.png') }}" alt="" width="50" height="50">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{ path('index') }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('vinil_list') }}">Vinils</a>
                        </li>
                        <!--Menú desplegat-->
                        {% if app.user %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ app.user.username }}
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{{ path('profile') }}">Perfil</a></li>
                                <li><a class="dropdown-item" href="#">Vinils Guardats</a></li>
                                <li>
                                    <a class="dropdown-item" href="{{ path('logout') }}">Tanca Sessió</a>
                                </li>
                            </ul>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('login') }}">Inicia Sessió</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('register') }}">Registra't</a>
                        </li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('backoffice') }}">Backoffice</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
{% endblock %}